<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAA7rdo8kFQ0CgwbC7L57CrgAAAAACAAAAAAAQZgAAAAEAACAAAAA9YGT7zswk8KuTPvR03ToQaG3xj3vY/4J9oM4mViNgJAAAAAAOgAAAAAIAACAAAAA/SDLA9O7fFTze1GXaZWp9e/7XhvK96QJMS/yPA1qa/TAAAACbwHJz+ZLxlL9j2obQVREBHxT8mWbXmMjmA8yuyogJe9WEtErew4vnWVh5GgxVdDhAAAAAPJB4C1UC5p4RrBaGm4T7MxFUe4YWUXeQFZIXHHPp9kckGdTEj2YPAaeblRsTX7h79r7tSHOBJmnpdglFgBt2rw==" />
    <add key="http://nuget.gw.symbolsource.org/Public/NuGet" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAA7rdo8kFQ0CgwbC7L57CrgAAAAACAAAAAAAQZgAAAAEAACAAAABFGWMQ8pwvolFCXqRR0uHRkr/+WXdV+J5LGz2Kq0fkTgAAAAAOgAAAAAIAACAAAAAz7cn6IlW0NrHjzYtyPxXvJRF0NhAlet9NKGGI+UrQIjAAAACjqQeE4/dD2GWvv7vFAoEOiCtJzta/rsM67VR/+/kueAVmePWKTZwX6ewaBqVBe59AAAAAxdjJHOc9qzYeE0uOaAAPxN6ywYoNe7yGq/13At+v4K1I7ALb3xF3DEmSjeu1aKJuZAqB209Fu/H2SmUXStPMoQ==" />
  </apikeys>
</configuration>